* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.title {
  font-weight: bold;
  text-align: center;
  margin: auto;
}

#containerGrid {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  width: 800px;
  height: 800px;
  margin: auto;
}

.row-grid {
  border: 1px solid black;
  display: flex;
  flex-grow: 1;
}

.col-grid {
  border: 1px solid black;
  flex-grow: 1;
}
